.contant {
	h3 {
		span {
			padding: 10px 10px;
			border-bottom: 3px solid #777;
		}
		em{
            font-style: normal;
            font-size: 14px;
            color: #333;
        }
	}
	hr {
		margin: 12px 0;
		border-top: 2px solid #ddd;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	.uk-slidenav-position .uk-slidenav-previous {
    	left: 50px;
	}
}

.lk-advantage {
	.lk-adv-img {
	    a {
		width: 180px;
		height: 110px;
		margin: 0 auto;
		display: block;
		text-align: center;
		padding-top: 90px;
		color: #fff;
		font-size: 18px;
	   }
	   
	   h2 {
	       text-align: center;
	   }
	   
	   p {
	       font-size: 16px;
	   }
	}
	#lk-adv-img-1 {
		background: url("../images/adv-img-1.png") no-repeat;
	}

	#lk-adv-img-2 {
		background: url("../images/adv-img-2.png") no-repeat;
	}

	#lk-adv-img-3 {
		background: url("../images/adv-img-3.png") no-repeat;
	}

	#lk-adv-img-4 {
		background: url("../images/adv-img-4.png") no-repeat;
	}
	#lk-adv-text {
		li {
			.borderRadius(20px);
		}
	}
}

.teacher {
	img {
		.borderRadius(50%);
	}
	.uk-panel {
		.borderRadius(20px);
	}
	.uk-slidenav-position .uk-slidenav-previous {
    	left: 20px;
	}
	.uk-slidenav-position .uk-slidenav {
		margin-top: -90px;
	}
}

.news {
	.title-id {
		border-right: 3px solid #ddd;
		span{
			font-size: 40px;
			line-height: 105px;
		}
		
	}
}