
#teacherList-h2{
    color: #333;
    font-size: 24px;
    font-weight: 600;
    span{
        font-size: 14px;
        font-weight: normal;
    }
}
.teacherList-con{
   border-right: 1px solid #036EB8;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
    position: relative;
    .i-small-1{
       height: 11px;
       width: 11px;
       border-radius: 50%;
       background: #036EB8;
       border: 2px solid #fff; 
       display: inline-block;
       position: absolute;
       right: -8px;
       top: -5px;
    }
    .i-big-1{
       height: 17px;
       width: 17px;
       border-radius: 50%;
       background: #036EB8;
       border: 2px solid #fff; 
       display: inline-block;
       position: absolute;
       right: -11px;
       top: 30px;
    }
    .i-small-2{
        top: 600px;
    }
    .i-small-last{
        height: 11px;
       width: 11px;
       border-radius: 50%;
       background: #036EB8;
       border: 2px solid #fff; 
       display: inline-block;
       position: absolute;
       right: -8px;
        bottom: -3px;
    }
    .i-big-2{
        top: 630px;
    }
}
.teacherList-con-border{
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    padding: 15px;
    box-sizing: border-box;
    p{
        color: #999;
        margin: 6px 0;
    }
    i{
        font-style: normal;
    }
    .star0:after {
    color: #d68301;
    font-size: 18px;
    content: "\e604";
    font-family: "iconfont";
    }
    .star1:after {
        color: #d68301;
        font-size: 18px;
        content: "\e603";
        font-family: "iconfont";
    }
    .star2:after {
        color: #d68301;
        font-size: 18px;
        content: "\e603\e603";
        font-family: "iconfont";
    }
    .star3:after {
        color: #d68301;
        font-size: 18px;
        content: "\e603\e603\e603";
        font-family: "iconfont";
    }
    .star4:after {
        color: #d68301;
       font-size: 18px;
        content: "\e603\e603\e603\e603";
        font-family: "iconfont";
    }
    .star5:after {
        color: #d68301;
       font-size: 18px;
        content: "\e603\e603\e603\e603\e603";
        font-family: "iconfont";
    }
    
}
























