
.lk-logobar {
	background: #007dd1;
	padding: 20px 0;

	.lk-btn-login,
	.lk-btn-reg {
		background: none;
		border: 1px solid #fff;
		.borderRadius();
		margin-right: 15px;
		padding: 0 10px;
		color: #fff;
		min-height: 26px;
		line-height: 26px;
		float: right;
	}
	
	.lk-tel {
		float: right;
		margin-right: 15px;
	}
	
	.lk-tel i {
		margin-right: 5px;
		font-style: normal;
		color: #fff;
		font-size: 18px;
	}
}

.lk-nav {
	height: 46px;
	background: #0172be;
	li a {
		width: 110px;
		margin-top: 3px;
		.borderRadius();
		text-align: center;
		color: #fff;
		font-size: 16px;
		font-family: "微软雅黑";
	}
	.lk-search .uk-search-field{
		margin-top: 3px;
		background-color: #fff;
		border-radius: 20px;
	}
	.uk-navbar-brand,
	.uk-navbar-toggle {
		color: #fff;
	}
	.uk-search:before {
		top: 2px;
	}
}

.uk-offcanvas-bar {
	width: 240px;
}